<p>home works!</p>
<body>
    <div class="position">
        <nav class="navbar nav-propertys navbar-expand-md">
            <div class="container">
                <div class="img-flex me-5">
                    <img class="img" [src]="logoimg" alt="logo">
                    <p>Green SuperMarket</p>
                    
                </div>
                <button class="navbar-toggler me-3" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                <div class="navbar-collapse collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto item">
                        <li class="nav-item me-2">
                            <a class="nav-link ms-5" href="#">Fruits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Vegetables</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Grocery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Stationary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>